<%- include("./partials/header") %>

<h1 style="margin-top:100px; border:2px solid red;">Login!</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login!">
</form>

<%- include("./partials/footer") %>